* {
  margin: 0px;
  .home-page {
    text-align: center;
    position: relative;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    display: flex;
    height: 100vh;
    width: 100%;
  }
}
