.navbar-section {
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: center;
  position: fixed;
  height: 100px;
  min-width: 100vw;
  .navbar {
    height: 100px;
    display: flex;
    transition: all 0.2s ease-out;
    .navbar-logo {
      margin: -12px 0px 0px -5px;
      background: url("../../images/logo.png") no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      cursor: pointer;
      height: 100px;
      width: 100px;
      transform: scale(0.7);
      &:hover {
        background: url("../../images/logo2.png") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    }
    .navbar-line {
      margin-top: 37px;
      height: 2px;
      border-radius: 50%;
      background-color: #ffffff50;
      flex: auto;
    }
    .navbar-menu {
      display: flex;
      @media screen and (max-width: 650px) {
        display: none;
      }
      .menu-item {
        position: relative;
        padding: 30px 20px;
        cursor: pointer;
        overflow: hidden;
        color: #ffffff;
        font-size: 18px;
        .navbar-background {
          transition: all 0.2s ease-out;
          position: absolute;
          background: url("../../images/navbar-background.png") no-repeat center
            center;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          margin-top: -42px;
          height: 100px;
          display: none;
          z-index: -1;
          opacity: 0.5;
          width: 50px;
          transform: scale(2.5);
          &.masodik {
            transform: scale(3.2);
            margin: -45px 0px 0px 12px;
            transition: all 0.2s ease-out;
          }
          &.harmadik {
            transform: scale(1.8);
            margin-left: -15px;
          }
          &.negyedik {
            transform: scale(1.8);
            margin-left: -10px;
          }
        }
        &:hover {
          color: #e49a12;
          .navbar-background {
            display: block;
            opacity: 0.5;
          }
        }
        &.active.activated,
        &.first {
          .navbar-background {
            display: block;
            opacity: 1;
          }
          &:hover {
            .navbar-background {
              display: block;
              color: #000000;
              background: url("../../images/navbar-background-red.png")
                no-repeat center center;
              -webkit-background-size: cover;
              -moz-background-size: cover;
              -o-background-size: cover;
              background-size: cover;
              &.elso {
                transform: scale(2.7);
              }
              &.masodik {
                transform: scale(3.4);
              }
              &.harmadik {
                transform: scale(2);
              }
              &.negyedik {
                transform: scale(2);
              }
            }
          }
        }
        &:last-of-type.active.activated {
          .navbar-background {
            display: block;
            color: #000000;
            background: url("../../images/navbar-background-red.png") no-repeat
              center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
          }
        }
      }
    }
    .navbar-top-right {
      position: relative;
      padding: 27px 20px;
      color: #ffffff;
      font-size: 18px;
      cursor: pointer;
      .next {
        position: absolute;
        display: none;
        right: 0px;
        top: 5px;
        &:hover {
          color: #d00c16;
        }
      }
      .spinner {
        color: #ffffff;
        position: absolute;
        //opacity: 0.2;
        font-size: 50px;
        right: 7px;
        top: 15px;
      }
      .spinner.active {
        animation: forgas 12s 0s linear infinite;
      }
      .pause-button,
      .play-button {
        font-size: 25px;
      }
      &:hover {
        .pause-button,
        .play-button {
          color: #e49a12;
        }
      }
      &:active {
        .pause-button,
        .play-button {
          color: #d00c16;
        }
      }
    }
  }
}

@keyframes forgas {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
