.info-page {
  height: 100vh;
  min-width: 100vw;
  background-color: #000000;
  .info-page-background {
    background: url("../../../images/fegyveres-bandita.jpg") no-repeat center
      center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .info-content {
      margin: 40px 50px;
      padding: 30px 60px;
      border-radius: 12px;
      background: rgba(0, 0, 0, 0.5);
      box-shadow: 10px 10px 20px #ffffff4d;
      max-width: 1000px;
      display: flex;
      flex-direction: column;
      overflow: auto;
      max-height: 80vh;
      display: block;
      .info-text-box {
        .info-title {
          font-size: 50px;
          text-align: center;
          margin-bottom: 15px;
        }
        .info-description {
          padding: 0px;
          font-size: 22px;
          font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
            sans-serif;
          li {
            margin-bottom: 15px;
          }
        }
      }
      .svg {
        display: flex;
        justify-content: center;
        .horse-man {
          width: 200px;
          opacity: 0.3;
        }
      }
    }
    @media screen and (max-width: 589px) {
      padding-top: 30px;
      .info-content {
        margin: 40px 15px;
        padding: 30px 40px;
      }
      .info-title {
        font-size: 22px;
        text-decoration: underline;
        text-align: start;
        margin-bottom: 10px;
      }
    }
  }
}
