* {
  margin: 0px;
  overflow: hidden;
  font-family: "Chinese Rocks Rg", sans-serif;
  .pages {
    display: block;
    &.active {
      position: absolute;
      display: flex;
      &.horizontal-scrolling {
        flex-direction: column;
      }
    }
    .youtube-music-player {
      opacity: 0;
    }
  }
}
